<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}"></head>

<body>
<div>
  <nav th:replace="~{/fragments/common :: navbar}"></nav>
</div>

<div class="container">

  <div class="row">

    <div class="col-sm-6 py-2"
          th:each="instructor : ${instructors}">
      <div class="card">
          <img class="card-img-top " th:src="${instructor.pictureUrl}" alt="Class image">
        <div class="card-body">
          <h5 class="card-title" th:text="${instructor.fullName}">Instructor name</h5>
          <h5 th:text="${instructor.sportName}"></h5>
          <p class="card-text" th:text="|${instructor.bio.substring(0, 7)}...|" >short desc... click info to learn more</p>
          <a th:href="@{/instructors/{id}(id = ${instructor.id})}" class="btn btn-dark btn-block">See full information</a>
        </div>
      </div>
    </div>

  </div>

</div>


<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>