<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/common :: navbar}"></nav>
</div>

<!--information about the instructor with their bio and the classes which they host. Make a link to the schedule to book a spot -->
<section class="py-5"
         th:object="${instructor}">
    <div class="container px-4 px-lg-5 my-5 bg-grey">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" th:src="*{pictureUrl}" alt="Instructor picture"/>
            </div>

            <div class="col-md-6">
                <h1 class="display-4 text-white" th:text="*{fullName}">Instructor name</h1>

                <p> <strong class="text-white">Email:</strong> <span class="lead text-white" th:text="*{email}">email</span> </p>
                <p> <strong class="text-white">Phone:</strong> <span class="lead text-white" th:text="*{phoneNumber}">email</span> </p>

                <p class="lead text-white" th:text="*{bio}">bio</p>

                <h4 class="mt-4 text-white">Sport Classes Hosted:</h4>
                <p class="lead text-white" th:if="*{sportClasses.isEmpty()}">This instructor does not have active classes! :(</p>

                <th:block th:each="sportClass : *{sportClasses}">
                    <a class="text-white py-2"
                       th:text="${sportClass.sportClassInfo}"
                       th:href="@{/bookSportClass/{sportClassId}(sportClassId = ${sportClass.id})}">list of all classes
                        which they host</a><br>
                </th:block>
                <div><h4 class="mt-4 text-white" th:unless="*{sportClasses.isEmpty()}">Dont wait and book your spot now!</h4></div>
            </div>
        </div>

        <div class="d-flex py-2">
            <a class="btn btn-secondary btn-block flex-shrink-0" th:href="@{/sportClasses/all}">Schedule</a>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>