<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}"></head>

<body>
<div>
    <nav th:replace="~{/fragments/common :: navbar}"></nav>
</div>

<main class="p-5 align-content-center bg-blur">
    <div class="container mt-5"
         th:object="${user}">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 bg-grey">
                <div class="p-3 py-4">
                    <div class="text-center">
                        <img    th:if="*{profilePictureUrl == null}"
                                src="https://res.cloudinary.com/drksjtn0q/image/upload/v1708722547/sportscenter/users/default-profile-pic.jpg"
                                width="300" class="rounded-circle" alt="profilePic">

                        <img th:unless="*{profilePictureUrl == null}"
                             th:src="*{profilePictureUrl}"
                             width="300" class="rounded-circle" alt="profilePic">

                    </div>

                    <!--                    file upload form-->
                    <!--                    <div class="custom-file">-->
                    <!--                        <input type="file" class="custom-file-input" id="customFile">-->
                    <!--                        <label class="custom-file-label" for="customFile">Choose file</label>-->
                    <!--                    </div>-->

                    <div class="text-center py-2 mt-1">
                        <button type="button" class="btn btn-outline-secondary px-4 text-white"
                                data-bs-toggle="modal"
                                data-bs-target="#uploadModal">Change profile picture
                        </button>
                        <a th:href="@{/users/edit/{userId}(userId=*{id})}"
                           class="btn btn-outline-secondary px-4 text-white">Edit Information</a>
                    </div>

                    <!-- Modal -->
                    <div id="uploadModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Change profile picture</h4>
                                    <button type="button" class="close align-content-end" data-bs-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form -->
                                    <form th:method= "patch"
                                          th:action="@{/users/myProfile/uploadProfilePic}"
                                          th:object="${userPictureBindingModel}"
                                          enctype="multipart/form-data">
                                        <input type='file' name='filePicture' id='file' class='form-control'><br>
                                        <input type='submit' class='btn btn-secondary' value='Upload' id='btn_upload'>
                                    </form>
                                </div>
                            </div>
                            <!-- Preview-->
                            <div id='preview'></div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-2 ">
                    <span class="bg-secondary p-1 px-4 rounded text-white" th:text="|Name: *{firstName}  *{lastName}|">Client Name</span>
                    <span class="bg-secondary p-1 px-4 rounded text-white" th:text="|Username: *{username}|">Username</span>
                    <span class="bg-secondary p-1 px-4 rounded text-white" th:text="|Email: *{email}|">Email</span>

                    <div class="px-4 mt-3" sec:authorize="!hasRole('ADMIN')" >
                        <th:block th:if="*{!bookings.isEmpty()}">
                            <h4 class="text-white">Your bookings: </h4>

                            <ul id="bookings-container" class="text-white">
                            </ul>
                            <button id="showBookings" class="btn btn-outline-secondary px-4 text-white"
                                    style="margin-bottom: 30px">Show my bookings</button>
                        </th:block>
                        <h4 th:if="*{bookings.isEmpty()}" class="text-white">You don't have any bookings yet</h4>
                    </div>
<!--                    <div class="buttons px-4 mt-3 ">-->
<!--                        <button onclick="location.href = document.referrer; return false;" class="btn btn-outline-secondary px-4 text-white">Back-->
<!--                        </button>-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/userBookings.js"></script>
</body>
</html>