<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}">
</head>

<body>
<div>
    <nav th:replace="~{/fragments/common :: navbar}"></nav>
</div>

<div class="container">
    <table th:object="${sportClasses}" class="table table-dark" border="1" cellspacing="0" frame="box" rules="all">
        <thead>
        <tr>
            <th scope="col">Time Slot</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="timeSlot : ${#numbers.sequence(10, 20, 1)}">
            <th scope="row" th:text=" ${timeSlot}+':'+'00 ' + ' - '+(${timeSlot}+1)+':'+'00' "></th>


            <th:block th:each="dayOfWeek : ${#numbers.sequence(1, 7, 1)}">
                <td>
                    <th:block th:with="sportClass=${@sportClassServiceImpl.getMatchedSportClass(sportClasses, dayOfWeek, timeSlot)}">
                        <th:block th:if="${sportClass}">
                            <a
                               th:href="@{/bookSportClass/{sportClassId}(sportClassId = ${sportClass.id})}">
                                <span th:text="${sportClass.sportName}"></span><br/>
                                <span th:text="${sportClass.instructorName}"></span>
                            </a>
                        </th:block>
                        <span th:unless="${sportClass}"></span>
                    </th:block>
                </td>
            </th:block>


        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>