<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}">
</head>

<body>
<div>
  <nav th:replace="~{fragments/common :: navbar}"></nav>
</div>

<div class="container">

  <h2 class="text-center text-white">Change Password</h2>

  <p th:if="${invalidToken}" class="text-center alert alert-danger">
    The token has expired! Go to <a th:href="@{/resetPassword}">Reset Password</a> to generate new one.
  </p>

  <form   th:unless="${invalidToken}"
          th:action="@{/changePassword}"
          th:method="post"
          th:object="${pwChangeBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

    <!--   send the token as hidden field -->
    <input id="token" type="hidden" th:field="*{token}"/>

    <div class="form-group">
      <label for="newPassword" class="text-white font-weight-bold">New Password</label>
      <input id="newPassword"
             type="password"

             th:field="*{newPassword}"
             th:errorclass="is-invalid"

             class="form-control"
             placeholder="New Password"/>
      <p class="errors alert alert-danger invalid-feedback"
         th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
        Password is required.
      </p>
    </div>

    <div class="form-group">
      <label for="confirm-password" class="text-white font-weight-bold">Confirm Password</label>
      <input id="confirm-password"
             type="password"

             th:field="*{confirmPassword}"
             th:errorclass="is-invalid"

             class="form-control"
             placeholder="Confirm Password"/>

      <p class="errors alert alert-danger invalid-feedback"
         th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
        Enter confirm password!
      </p>

      <p th:if="${differentPasswords}"
         class="errors alert alert-danger">
        Passwords do not match!
      </p>
    </div>


    <div class="row justify-content-center">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-secondary btn-block btn-lg" value="Change Password"/>
        </div>
      </div>
    </div>

  </form>
</div>

<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script></body>
</html>