<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head}">
</head>
<body>
<div>
    <nav th:replace="~{/fragments/common :: navbar}"></nav>
</div>
<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Your Bookings</h2>
</div>

<table th:if="${!bookingsByUser.isEmpty()}" class="table table-dark" border="1" cellspacing="0" frame="box" rules="all">
    <thead class="text-center">
    <tr>
        <th scope="col">Sport Class</th>
        <th scope="col">Day</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        <th scope="col">QR Code</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr th:each="booking : ${bookingsByUser}">
        <td th:text="|${booking.sportClass.sportName} ${booking.sportClass.instructorName}|"></td>
        <td th:text="${booking.sportClass.dayOfWeekGetDisplayName()}"></td>
        <td th:text="${booking.sportClass.startTime}"></td>
        <td th:text="${booking.sportClass.endTime}"></td>
        <td th:text="${booking.status}"></td>
        <td>
            <form th:action="@{/myBookings/cancelBooking/{bookingId}(bookingId=*{booking.id})}"
                  th:method="patch">
                <div class="text-center">
                    <button th:if="${booking.statusNotActive}" class="btn btn-primary" value="Cancel" disabled>
                        Cancel
                    </button>
                    <button th:unless="${booking.statusNotActive}" type="submit" class="btn btn-primary" value="Cancel">
                        Cancel
                    </button>
                </div>
            </form>
        </td>
        <td>
            <div class="text-center">

                <th:block th:if="${booking.statusNotActive}">
                    <a class="btn btn-primary"
                       th:if="${booking.status.equals('ACCEPTED')}" th:href="@{/qrCodes/{bookingId}(bookingId=*{booking.id})}">
                        QR Entrance Code</a>

                    <a class="btn btn-primary"
                       th:unless="${booking.status.equals('ACCEPTED')}" th:classappend="disabled">
                        QR Entrance Code</a>
                </th:block>

                <a class="btn btn-primary"
                   th:unless="${booking.statusNotActive}" th:href="@{/qrCodes/{bookingId}(bookingId=*{booking.id})}">
                    QR Entrance Code</a>

            </div>
        </td>
    </tr>
    </tbody>

</table>

<h4 class="text-center text-white" th:if="${bookingsByUser.isEmpty()}">
    You don't have any Active bookings yet.
    Go to the <a th:href="@{/sportClasses/all}">Schedule</a> and book your spot!
</h4>

<footer th:replace="~{fragments/common :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>