<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<!--<h1>Change Password Request</h1>-->

Hello <th:block th:text="${username}">username</th:block>!

<p>
  You can change your password at <span th:text="${url}"></span>
</p>

Best regards,
Sports Center Goranov team!
</body>

</html>